[package]
name = "clockt"
version = "0.7.0"
edition = "2024"

[profile.release]
lto = true
opt-level = "z"
strip = "symbols"
codegen-units = 1

[dependencies]
anyhow = "1.0.100"
chrono = "0.4.42"
crossterm = "0.29.0"
figlet-rs = "0.1.5"
ratatui = "0.29.0"
